

info_courriel.txt
.DS_Store

*.pyc

ENV/*

__pycache__/*

__pycache__/courriel.cpython-37.pyc

__pycache__/database.cpython-37.pyc

__pycache__/index.cpython-37.pyc

*.pyc

*.pyc

*.pyc

*.pyc

__pycache__/index.cpython-37.pyc

__pycache__/courriel.cpython-37.pyc

__pycache__/database.cpython-37.pyc

__pycache__/index.cpython-37.pyc

__pycache__/validation.cpython-37.pyc

courriel.pyc

database.pyc

index.pyc

validation.pyc
