gunicorn          
chardet                               
enum34           
Flask            
Flask-WTF         
idna                  
itsdangerous     
Jinja2
MarkupSafe
pathlib 
pip
pipenv
requests
setuptools
typing   
ua-parser 
urllib3   
virtualenv
virtualenv-clone
werkzeug
WTForms