gunicorn
certifi          
chardet         
Click            
Cython           
enum34           
Flask            
Flask-WTF         
idna                  
itsdangerous     
Jinja2
MarkupSafe
pathlib 
pip
pipenv
requests
setuptools
typing   
ua-parser 
urllib3   
virtualenv
virtualenv-clone
Werkzeug
WTForms