{% extends "index.html" %}
{% block content %}
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/js/name_file.js"></script>
    <script src="/js/xhr.js"></script>
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<div class="container_fluid">
          <div class="page-header">
            <h1 class="title">Get File Liste yrdy </h1>
        </div>

            <form class="form-group" >

                <div class="row " >
                    <div class="col-md-1 form-group"></div>
                    <div class="col-md-4 form-group">
                    <label  >new name</label>
                <input class="form-control" type="text" name="newname" id="newnamefile"></div>
                    <div class="col-md-2 "><input class="form-control btn-primary" id="newname" type="button" value="ok" onclick="new_name()"></div>
                </div>



            </form>
<hr>
</div>

<div class="container_fluid">

    	 {% if not fichiers %}

    	 {% else %}
				{% for a in fichiers %}
	


<div class="row" id="FILE_{{a.name}}">
      

                                        <div class="col-md-1 form-group"></div>

 
                                        <div class="col-md-2 form-group">
<div><a href="/images/{{ a.name}}" target="_blank"><img src="/images/{{a.name}}" alt="{{a.name}}" class="img-thumbnail" style="height: 175px;"></a></div>
                                             </div>




</div>



    			{% endfor %}
    	{% endif %}
</div>


<script src="https://getbootstrap.com/docs/4.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous" class="__web-inspector-hide-shortcut__"></script>
{% endblock %}

