<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Inscription</title>
<link rel="stylesheet" type="text/css" href="view.css" media="all">
<script type="text/javascript" src="view.js"></script>

</head>
<body id="main_body" >
	
	<img id="top" src="top.png" alt="">
	<div id="form_container">
	
		<h1><a>Inscription</a></h1>
		<form id="form_55780" class="appnitro"  method="post" action="">
					<div class="form_description">
			<h2>Inscription</h2>
			<p></p>
		</div>						
			<ul >
			
					<li id="li_1" >
		<label class="description" for="element_1">Name </label>
		<span>
			<input id="element_1_1" name= "element_1_1" class="element text" maxlength="255" size="8" value=""/>
			<label>First</label>
		</span>
		<span>
			<input id="element_1_2" name= "element_1_2" class="element text" maxlength="255" size="14" value=""/>
			<label>Last</label>
		</span> 
		</li>		<li id="li_2" >
		<label class="description" for="element_2">Email </label>
		<div>
			<input id="element_2" name="element_2" class="element text large" type="text" maxlength="255" value=""/> 
		</div> 
		</li>		<li id="li_3" >
		<label class="description" for="element_3">Password </label>
		<div>
			<input id="element_3" name="element_3" class="element text large" type="password" maxlength="255" value=""/> 
		</div> 
		</li>		<li id="li_4" >
		<label class="description" for="element_4">Password </label>
		<div>
			<input id="element_4" name="element_4" class="element text large" type="password" maxlength="255" value=""/> 
		</div> 
		</li>		<li id="li_5" >
		<label class="description" for="element_5">Address </label>
		
		<div>
			<input id="element_5_1" name="element_5_1" class="element text large" value="" type="text">
			<label for="element_5_1">Street Address</label>
		</div>
	
		<div>
			<input id="element_5_2" name="element_5_2" class="element text large" value="" type="text">
			<label for="element_5_2">Address Line 2</label>
		</div>
	
		<div class="left">
			<input id="element_5_3" name="element_5_3" class="element text medium" value="" type="text">
			<label for="element_5_3">City</label>
		</div>
	
		<div class="right">
			<input id="element_5_4" name="element_5_4" class="element text medium" value="" type="text">
			<label for="element_5_4">State / Province / Region</label>
		</div>
	
		<div class="left">
			<input id="element_5_5" name="element_5_5" class="element text medium" maxlength="15" value="" type="text">
			<label for="element_5_5">Postal / Zip Code</label>
		</div>
	
		<div class="right">
			<select class="element select medium" id="element_5_6" name="element_5_6"> 
			<option value="" selected="selected"></option>

<option value="Canada" >Canada</option>
<option value="United States" >United States</option>
	
			</select>
		<label for="element_5_6">Country</label>
	</div> 
		</li>		<li id="li_6" >
		<label class="description" for="element_6">Address </label>
		
		<div>
			<input id="element_6_1" name="element_6_1" class="element text large" value="" type="text">
			<label for="element_6_1">Street Address</label>
		</div>
	
		<div>
			<input id="element_6_2" name="element_6_2" class="element text large" value="" type="text">
			<label for="element_6_2">Address Line 2</label>
		</div>
	
		<div class="left">
			<input id="element_6_3" name="element_6_3" class="element text medium" value="" type="text">
			<label for="element_6_3">City</label>
		</div>
	
		<div class="right">
			<input id="element_6_4" name="element_6_4" class="element text medium" value="" type="text">
			<label for="element_6_4">State / Province / Region</label>
		</div>
	
		<div class="left">
			<input id="element_6_5" name="element_6_5" class="element text medium" maxlength="15" value="" type="text">
			<label for="element_6_5">Postal / Zip Code</label>
		</div>
	
		<div class="right">
			<select class="element select medium" id="element_6_6" name="element_6_6"> 
			<option value="" selected="selected"></option>

<option value="Canada" >Canada</option>
<option value="United States" >United States</option>
			</select>
		<label for="element_6_6">Country</label>
	</div> 
		</li>
			
					<li class="buttons">
			    <input type="hidden" name="form_id" value="55780" />
			    
				<input id="saveForm" class="button_text" type="submit" name="submit" value="Submit" />
		</li>
			</ul>
		</form>	
		<div id="footer">

		</div>
	</div>
	<img id="bottom" src="bottom.png" alt="">
	</body>
</html>