<!DOCTYPE html>
{% if langue %}
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-us" xml:lang="en-us">
{% else %}
<html lang="fr" xml:lang="fr" xmlns="http://www.w3.org/1999/xhtml">
{% endif %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Projet_Metro_CMS</title>

</head>

<body>
        <nav class="navbar navbar-default menu_float">
          <div class="container-fluide">
                       <div class="navbar-header">
                                    <a class="active home" href="/"><img src="/img/2000px-Felipe_icon_User.svg.png" height="42" width="42"></a>
                           <li class="li" id="login"></li>

                                    <div class ="recherche">
                                    <form action="/recherche" method="post">
                                    <input type="recherche" name="recherche" value="{{ recherche }}">
                                    <input type=submit value=&#128269;>
                                    </form>
                                    </div>
                        </li>
                        <div class="recherche"><ul class="ul" id="menu_cat"></ul></div>
              </div>
              </div>
            </nav>


            <br>
            <br>
            <br>
            <br>
            <br>
            <br>

<div class="container-fluid">



{% block content %}{% endblock %}



</div>

<footer class="text-center" style="padding-top: 20px;">Projet Metro CMS <a href="https://github.com/dancause/PIE_METRO_CMS"><img src="/img/GitHub-Mark-120px-plus.png" height="42" width="42"></a></footer>

</body>
    <script src="/vendor/jquery/jquery.js"></script>
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/jquery/jquery-ui.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="/js/login.js"></script>
    <script src="/js/langue.js"></script>
    <script src="/js/menu.js"></script>
    <link href="/css/style.css" rel="stylesheet">
</html>