<!DOCTYPE html>
{% if langue %}
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-us" xml:lang="en-us">
{% else %}
<html lang="fr" xml:lang="fr" xmlns="http://www.w3.org/1999/xhtml">
{% endif %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Projet_Metro_CMS</title>

</head>

<body>


    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/menu_css.css" rel="stylesheet">

    
<div id='cssmenu'>
<ul>
   <li><a href='/'><span>Home</span></a></li>
   <li class='active has-sub' id="login" ><a href="/login">Login</a></li>
   <li class='active has-sub' id="menu_cat" ><a href='#'><span>Categories</span></a></li>
   <li><a href='#'><span>About</span></a></li>
   <li><a href='#'><span>Contact</span></a></li>
   <li class="li" id="changer"><button id="button_langue" class="button_langue btn btn-light" onclick="Changer_Langue()" value="{% if langue %}Français{% else %}Anglais{% endif %}">{% if langue %}FR{% else %}ENG{% endif %}</button></li>
            <li class='last'><div class="recherche">
                        <form action="/recherche" method="post"><input type="recherche" name="recherche" value="{{ recherche }}"><input type=submit value=&#128269;></form>
                              </div>
            </li>
</ul>
</div>


<div class="container-fluid">

<div class=row>
  <div class="col-sm-2 col-xs-1"></div>
  <div class="col-sm-8 col-xs-10">
{% block content %}{% endblock %}
</div>
<div class="col-sm-2 col-xs-1"></div>

</div>

</div>
<footer class="text-center" style="padding-top: 20px;">Projet Metro CMS <a href="https://github.com/dancause/PIE_METRO_CMS"><img src="/img/GitHub-Mark-120px-plus.png" height="42" width="42"></a></footer>

</body>
    <script src="/vendor/jquery/jquery.js"></script>
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/jquery/jquery-ui.js"></script>
        <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <script src="/js/script.js"></script>
    <script src="/js/login.js"></script>
    <script src="/js/langue.js"></script>
    <script src="/js/menu.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

</html>