<!DOCTYPE html>
{% if langue %}
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-us" xml:lang="en-us">
{% else %}
<html lang="fr" xml:lang="fr" xmlns="http://www.w3.org/1999/xhtml">
{% endif %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Projet_Metro_CMS</title>

</head>

<body>


    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/menu_css.css" rel="stylesheet">


<div id='cssmenu'>
<ul>
   <li><a href='/'><span>Home</span></a></li>
   <li class='active has-sub' id="login" ><a href="/login">Login</a></li>
   <li class='active has-sub' id="menu_cat" ><a href='#'><span>Categories</span></a></li>
   <li><a href='#'><span>About</span></a></li>
   <li><a href='#'><span>Contact</span></a></li>
   <li class="li" id="changer"><button id="button_langue" class="button_langue btn btn-light" onclick="Changer_Langue()" value="{% if langue %}Français{% else %}Anglais{% endif %}" style="
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-top: 0px;
">{% if langue %}FR{% else %}ENG{% endif %}</button></li>
            <li class='last'><div class="recherche">
                        <form action="/recherche" method="post"><input type="recherche" name="recherche" value="{{ recherche }}"><input type=submit value=&#128269;></form>
                              </div>
            </li>
</ul>
</div>


<div id="container-fluid" class="container-fluid">
{% if side %}<div class=row>{% else %}<div>{% endif %}


        {% if side %} <div class="col-sm-1 col-xs-0"></div><div class="col-sm-10 col-xs-12">{% endif %}
        {% block content %}{% endblock %}
        {% if side %}</div><div class="col-sm-1 col-xs-0"></div>{% endif %}




</div>

</div>
<footer class="text-center" style="padding-top: 20px;">Projet Metro CMS <a href="https://github.com/dancause/PIE_METRO_CMS"><img src="/img/GitHub-Mark-120px-plus.png" height="42" width="42"></a></footer>

</body>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="/vendor/jquery/jquery.js"></script>
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/jquery/jquery-ui.js"></script>
     <!--   <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>-->
    <script src="/js/script.js"></script>
    <script src="/js/login.js"></script>
    <script src="/js/langue.js"></script>
    <script src="/js/menu.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


</html>
