{% extends "index.html" %}
{% block content %}
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.css" type="text/css"/>
      <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css" type="text/css"/>
       <script src="/js/gestion_usagers.js"></script>
    <style>
    body{
    background-image: url("../img/fond_login.jpg");
  width: 100%;
  height: auto;
    background-attachment: fixed;
    background-position: center;
background-repeat: no-repeat;
    }
    .login{
                text-align: center;
                font-size: larger;
    }
    </style>
      <div id="bg">
<div class="container-fluid">

            <div id="">

                <div id=""></div>
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4"  id="reset_password"><a href="/"><img src="/img/metro.jpg" class="mx-auto d-block img-fluid" alt="logo" style="    padding-top: 50px;"></a>
                <form name="login" class="tcenter" action="/login/validation" method="POST">

                <div class="control-group">
                    <span sfuuid="1" class="edit">
                        <input type="text" name="username" value="" placeholder="Nom d&#39;utilisateur" class="form-control login" aria-label="username" required style="
    margin-top: 20px;
">
                    </span>
                </div>

                <div class="control-group">
                    <span sfuuid="2" class="edit">
                        <input type="password" name="password" value="" placeholder="Mot de passe" aria-label="password" class="form-control login" requireds style="
    margin-top: 20px;
">
                    </span>
                </div>
                                {% if error %}
                                <p class="help-block">
                                    <strong>{{ error }}</strong>
                                </p>
                                {% endif %}

                            <div class="login-footer">
                                <span sfuuid="3" class="edit"><input type="submit" name="submit" class="btn btn-secondary btn-lg btn-block" value="Submit"style="
    margin-top: 20px;
"/></span>
                                <span sfuuid="4" class="edit"><input type="reset" name="cancel" class="btn btn-secondary btn-lg btn-block" value="Cancel"style="
    margin-top: 20px;
"/></span>
                            </div>

                </form>
        <a href="/login/change/password" onclick="">forget password/ mot de passe oublié</a>
            </div>



</div>
                <div id="footer"></div>
                <div id="drawers"></div>
            </div>
        </div>

</div>
{% endblock %}
