
	<a href="#"><span>Administration</span></a>
    <ul class="ul">
    <li class="li" role="presentation"><a class="a_menu" role="menuitem" tabindex="-1" href="/gestion/comments">Commentaires</a></li>
      <li class="li"  role="presentation"><a class="a_menu"  role="menuitem" tabindex="-1" href="/gestion/liste/articles">Liste articles</a></li>
        <li class="li"  role="presentation"><a class="a_menu"  role="menuitem" tabindex="-1" href="/gestion/invitation">Invitation</a></li>
         <li class="li"  role="presentation"><a class="a_menu"  role="menuitem" tabindex="-1" href="/gestion/user/list">Liste usagers</a></li>
         <li class="li"  role="presentation"><a class="a_menu"  role="menuitem" tabindex="-1" href="/gestion/creer/article">Nouvel article</a></li>
        <li class="li"  role="presentation"><a class="a_menu"  role="menuitem" tabindex="-1" href="/save/fichiers">Téléchargement</a></li>
      <li class="li"  role="presentation" class="divider"></li>
      <li class="li"  role="presentation"><a class="a_menu"  role="menuitem" tabindex="-1" href="/gestion/myprofil">My Profil</a></li>
      <li class="li"  role="presentation"><a class="a_menu"  role="menuitem" tabindex="-1" href="/logout">logout</a></li>
    </ul>
