<!DOCTYPE HTML>

<html>
    <head>
        <title>Login</title>
        <meta name="viewport" content="initial-scale=1.0">
        <meta charset="UTF-8">
        <link rel="SHORTCUT ICON" href="../">
        <!-- CSS -->

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.css" type="text/css"/>
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css" type="text/css"/>
         <script src="/js/gestion_usagers.js"></script>

    </head>
    <body>
    <style>
    body{
    background-image: url("../../img/fond_login.jpg");
  width: 100%;
  height: auto;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;

    }
    </style>
<div class="container-fluid">
        <div id="">
            <div id="">

                <div id=""></div>
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4"  id=""><a href="/"><img src="/images/metro.jpg" class="mx-auto d-block img-fluid" alt="logo" style="    padding-top: 50px;"></a>
                <form name="login" class="tcenter" action="/login/demande/motpasse" method="POST">

                <div class="control-group">
                    <span sfuuid="1" class="edit">
                        <input type="text" name="courriel" value="" placeholder="Nom d&#39;utilisateur" class="form-control" aria-label="username" required style="
    margin-top: 20px;
">
                    </span>
                </div>

                                {% if error %}
                                <p class="help-block">
                                    <strong>{{ error }}</strong>
                                </p>
                                {% endif %}

                            <div class="login-footer">
                                <span sfuuid="3" class="edit"><input type="submit" name="submit" class="btn btn-secondary btn-lg btn-block" value="Submit" style="
    margin-top: 20px;
"/></span>
                                <span sfuuid="4" class="edit"><input type="reset" name="cancel" class="btn btn-secondary btn-lg btn-block" value="Cancel" style="
    margin-top: 20px;
"/></span>
                            </div>

                </form>

            </div>



                </div>

</div>
        				{% if data %}
                            <div class="erreur"><p class="text-center">{{data}}</p></div>
                        {% endif %}
                <div id="footer"></div>
                <div id="drawers"></div>
            </div>
        </div>

</div>
    <script src="/vendor/jquery/jquery.js"></script>
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/jquery/jquery-ui.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    </body>
</html>
