{% extends "index.html" %}
{% block content %}


<title>User Profil</title>



<div class="container row_media">
  <br>
<div class=row>
<div id="photo_profil" class=" col-sm-12 text-center">
<img src='/images_profiles/{{user.picture}}' class="img-thumbnail" style="width:250px;"><br>

<form method="post" enctype="multipart/form-data" action="/save/photo/profil">
<input type=file name="file">
<input type=submit value="{% if langue %}Upload{% else %}Télécharger{% endif %}">
</form>
</div>
</div>

<form>
  <div class="row form-group">
  <div class="col-md-6"><label>{% if langue %}Username {% else %}Nom d'usager{% endif%}</label><input class="form-control" type="text" value="{{user.nom}}"></input></div>
  <div class="col-md-5"><label>{% if langue %}Email{% else %}Courriel{% endif%}</label><input class="form-control"  type="text"value="{{user.courriel}}" disabled></input></div>
  <div class="col-md-1">  <br><label> {% if langue %}Hide{% else %}Caché{% endif%}<input type="checkbox" name="hide_email" value="1"/></label></div>
  </div>
<div class="row form-group">
<div class="col-md-6"><label>{% if langue %}Firstname{% else %}Prénom{% endif%}</label><input class="form-control" type="text" value="{{user.firstname}}"></input></div>
<div class="col-md-6"><label>{% if langue %}Lastname{% else %}Nom de Famille{% endif%}</label><input class="form-control" type="text" value="{{user.lastname}}"></input></div>
</div>
<div class="row">

</div>
<div class="row form-group">
<div class="col-md-6"><label>{% if langue %}Country{% else %}Pays{% endif%}</label><select name="categorie" id="country"  onchange="state()" style="width: 100%;" class="mobile form-control" value="{{user.countries}}">
  <option disable selected value>{% if langue %}Choose a country{% else %}Choisir un pays{% endif%}</option>
{% for c in countries %}
<option value="{{c.id}}">{{c.name}}</option>
{% endfor%}
</select></div>
<div class="col-md-6"><label>{% if langue %}States{% else %}États/Provinces{% endif%}</label><select class="form-control" id="states" type="text"value="{{user.city}}"><select></div>
</div>


<div class="form-group row">
<div class="col-md-12"><label>{% if langue %}Interet{% else %}Intêret{% endif%}</label><input  class="form-control" type="text"value="{{user.interet}}"></input></div>
<div class="col-md-12"><label>{% if langue %}Bios{% else %}Bios{% endif%}</label><textarea class="text_profil" name="name" rows="5" style="width:100%;">{{user.text}}</textarea></div>
</div>
<div class="form-group row">
<div class="col-md-6"><input class="form-control btn btn-secondary" type="submit" value="{% if langue %}update{% else %}mise à jour{% endif%}"></input></div>
<div class="col-md-6"><input class="form-control btn btn-secondary" type="submit" value="{% if langue %}close{% else %}fermer{% endif%}"></input></div>
</div>
</form>
<br>
</div>
<div class=contribution>

    <div id="comments">
      <div class=row>
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
{% include 'comments_user.html' %}
</div>
<div class="col-sm-3"></div>
      </div>
  </div>


</div>

<script type="text/javascript">
  function state(){
    console.log('passe ici');
  	var pays = document.getElementById('country').value;


  	var xhr = new XMLHttpRequest();
  	xhr.onreadystatechange = function() {
  	if (xhr.readyState === XMLHttpRequest.DONE)
  	{
          	if (xhr.status === 200)
          	{
          	states.innerHTML = xhr.responseText;
          	}
          	else
          	{
          	console.log('Erreur avec le serveur');
          	}
  	}
  };
  xhr.open("GET", '/gestion/province/'+pays);
  xhr.send();

  }

</script>





  {% endblock %}
