{% extends "index.html" %}
{% block content %}


<title class="title">User Profil</title>



<div class="row_media">
  <br>
<div class=row>
<div id="photo_profil" class=" col-sm-12 text-center">
<img src='/images_profiles/{{user.picture}}' class="img-thumbnail" style="width:250px;"><br>

<form method="post" enctype="multipart/form-data" action="/save/photo/profil">
<input type=file name="file">
<input type=submit value="{% if langue %}Upload{% else %}Télécharger{% endif %}">
</form>
</div>
</div>

<form  method="POST">
<div class="row form-group">
<div class="col-md-6"><label>{% if langue %}Username {% else %}Nom d'usager{% endif%}</label><input name="nom"class="form-control" type="text" value="{{user.nom}}"></input></div>
<div class="col-md-6">
<div class="row">
<div class="col-10"><label>{% if langue %}Email{% else %}Courriel{% endif%}</label><input class="form-control" name="courriel" type="email" value="{{user.courriel}}"></input></div>
<div class="col-2"><br><label> {% if langue %}Hide{% else %}Caché{% endif%}<input type="checkbox" name="hide_email" value="user.hide_email" {% if user.hide_email == 'True' or user.hide_email == 1 %}checked{% else %}{% endif %} /></label></div>
</div>
</div>
</div>
<div class="row form-group">
<div class="col-md-6"><label>{% if langue %}Firstname{% else %}Prénom{% endif%}</label><input class="form-control" name="firstname" type="text" value="{{user.firstname}}"></input></div>
<div class="col-md-6"><label>{% if langue %}Lastname{% else %}Nom de Famille{% endif%}</label><input class="form-control" name="lastname" type="text" value="{{user.lastname}}"></input></div>
</div>
<div class="row form-group">
{{pays}}
<div class="col-md-6"><label>{% if langue %}Country{% else %}Pays{% endif%}</label><select name="country" id="country"  onchange="state()" style="width: 100%;" class="mobile form-control" value="{{user.country}}">
  {% if user.country >= 1 %}{% else %}<option disable selected value="0"> {% if langue %}Choose a country{% else %}Choisir un pays{% endif%}</option>{% endif %}
{% for c in countries %}
<option value="{{c.id}}" {% if c.id == user.country %}selected{% else %} {% endif %}>{{c.name}}</option>
{% endfor%}
</select></div>
<div class="col-md-6"><label>{% if langue %}States{% else %}États/Provinces{% endif%}</label><select name="states" class="form-control" id="states" type="text"value="{{user.state}}">

  {% for s in states %}
  <option value="{{s.id}}" {% if s.id == user.state %} selected {% else %} {% endif %} >{{s.name}}</option>
  {% endfor%}
 <select></div> /   {{user.country}}
</div><span id="etats" style="display:none;">{{user.state}}</span>


<div class="form-group row">
<div class="col-md-12"><label>{% if langue %}Interet{% else %}Intêret{% endif%}</label><input  name="interet" class="form-control" type="text"value="{{user.interet}}"></input></div>
<div class="col-md-12"><label>{% if langue %}Bios{% else %}Bios{% endif%}</label><textarea class="text_profil" name="text" rows="5" style="width:100%;">{{user.text}}</textarea></div>
</div>
<div class="form-group row">
<div class="col-md-6"><input class="btn btn-secondary btn-lg btn-block" type="submit" value="{% if langue %}update{% else %}mise à jour{% endif%}"></input></div>
<div class="col-md-6"><input class="btn btn-secondary btn-lg btn-block" type="reset" value="{% if langue %}close{% else %}fermer{% endif%}"></input></div>
</div>
</form>
<br>
</div>
<div class=contribution>

    <div id="comments">
      <div class=row>
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
{% include 'comments_user.html' %}
</div>
<div class="col-sm-3"></div>
      </div>
  </div>


</div>

<script type="text/javascript">
  function state(){
  	var pays = document.getElementById('country').value;


  	var xhr = new XMLHttpRequest();
  	xhr.onreadystatechange = function() {
  	if (xhr.readyState === XMLHttpRequest.DONE)
  	{
          	if (xhr.status === 200)
          	{
          	states.innerHTML = xhr.responseText;
          	}
          	else
          	{
          	console.log('Erreur avec le serveur');
          	}
  	}
  };
  xhr.open("GET", '/gestion/province/'+pays);
  xhr.send();

  }


</script>





  {% endblock %}
