{% extends "index.html" %}
{% block content %}






 <script src="/js/comments.js"></script>

<br>
<div class="article_list">
<div class="row row_media intro_articles">
    <div class="col-md-12" style="padding-left: 0px; padding-right: 0px;">
                    <div class="row title_article" style="margin-left: 0px;margin-right: 0px;">
                        <div class="col-9"><h1>{% if langue %}{{ article.titre_ang }} {% else %}{{ article.titre_fr }}{% endif%}</h1></div>
                        <div class="col-3 text-right align-middle" style=""><h4>{% if langue %}{{ article.cat_ang }} {% else %}{{ article.cat_fr }}{% endif%}</h4></div>
                    </div>
            <div class="col-md-12 card-image-container" style="padding-left: 0px; padding-right: 0px;">
                <a href="/view/{{article.photo}}"><img src="/images/{{article.photo}}" class="img-responsive center-block article_image"></a>
            </div>
                    <div class="row" style="">
                        <div class="col-4"><h6  style="padding-left: 15px;">{% if langue %}by : {% else %}par :{% endif%} {{article.auteur}}</h6></div>
                         <div class="col-4">
<!--facebook sharing--->

                    <div class="fb-share-button" data-href="https://py-metro-cms.herokuapp.com/" data-layout="button_count" data-size="large"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fpy-metro-cms.herokuapp.com%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Partager</a></div>


                    <div class="fb-like" data-href="https://py-metro-cms.herokuapp.com/article/movie/TEST" data-width="" data-layout="standard" data-action="like" data-size="small" data-share="true"></div>

                        </div>
                        <div class="col-4 text-right align-middle"><h6 style="padding-right: 15px;">date: {{ article.datepub }}</h6></div>
                       
                    </div>


                    <div class="text">{% if langue %}{{ article.texte_ang|safe }} {% else %}{{ article.texte_fr|safe }}{% endif%}</div>
                    <div> {{ article.data1|safe }} </div>
                    <div>{% if langue %}tag: {{ article.tag }} {% else %} etiquettes: {{ article.etiquettes }}{% endif%}</div>
</div>
</div>

</div>
<br>


<div id="comments_section">
{% include 'temp_comments.html' %}
</div>


{% endblock %}
