{% extends "index.html" %}
{% block content %}
    <div>

    <button id="button_langue" class="button_langue btn btn-light" onclick="comments_valided()" value="{% if langue %}Français{% else %}Anglais{% endif %}">valided</button>
    <button id="button_langue" class="button_langue btn btn-light" onclick="comments_signaled()" value="{% if langue %}Français{% else %}Anglais{% endif %}">signaled</button>

    <button id="button_langue" class="button_langue btn btn-light" onclick="comments_valided()" value="{% if langue %}Français{% else %}Anglais{% endif %}">valided</button>
    <button id="button_langue" class="button_langue btn btn-light" onclick="comments_signaled()" value="{% if langue %}Français{% else %}Anglais{% endif %}">signaled</button>


    <button id="button_langue" class="button_langue btn btn-light" onclick="comments_valided()" value="{% if langue %}Français{% else %}Anglais{% endif %}">valided</button>
    <button id="button_langue" class="button_langue btn btn-light" onclick="comments_signaled()" value="{% if langue %}Français{% else %}Anglais{% endif %}">signaled</button>


    </div>
{% endblock %}