{% extends "index.html" %}
{% block content %}
<title>admin users</title>
        <script src="/js/gestion_usagers.js"></script>
<div class="container-fluid">
<table class="table table-hover table-responsive liste_articles" id="liste_comments">
        <thead>
    	<tr>
        <th>ID</th>
        <th>Photos</th>
        <th>Nom</th>
    	<th>Courriel</th>
    	<th>roles</th>
    	<th>actif</th>
            <th>changer</th>
    	</tr>
    	</thead>
    	 {% if not users %}

    	 <tr>

    	<td style="text-align: center;" COLSPAN="7"><h2>aucun usagers inscrit</h2></td>
    	</tr>
    	 {% else %}
				{% for u in users %}
				<tr id="usager_{{u.id}}">
                    <td>{{u.id}}</td>
                    <td><input name="picture_{{u.id}}" id="picture_{{ u.id }}" type="text" value="{{ u.picture}}"></td>
    				<td><input name="nom_{{u.id}}" id="nom_{{ u.id }}" type="text" value="{{ u.lastname }}"></td>
    				<td><input name="courriel_{{u.id}}" id="courriel_{{ u.id }}" type="text" value="{{ u.email }}"></td>
    				<td>

                        <select name="role_{{u.id}}"  id="role_{{ u.id }}">
                            {% for r in roles %}
                            <option value="{{ r.id }}"   {% if r.id == u.role  %}selected{% else %}{% endif %}>{{ r.role }}</option>
                            {% endfor%}
                        </select>

                    </td>
    				<td><input name="actif_{{u.id}}" id="actif_{{ u.id }}" type="checkbox" {% if u.status == 'True' or u.status == 1 %}checked{% else %}{% endif %}  value="True"></td>

                    <td><input  type="submit" onclick="modify_user({{ u.id }});"></td>

    			</tr>
    			{% endfor %}
    	{% endif %}
</table>

</div>
  {% endblock %}


