{% extends "index.html" %}
{% block side_content %}



<div class="admin_button">
<form action="/gestion/creer/article" method="GET">
 <input type=submit value="Creer Articles">
</form>

<form action="/gestion/liste/articles" methode="GET">
 <input type=submit value="Creer Articles">
</form>

<form action="" methode="GET">
 <input type=submit value="Creer Articles">
</form>

<form action="/save/fichiers" methode="GET">
 <input type=submit value="Creer Articles">
</form>

<form action="/creer/article" methode="GET">
 <input type=submit value="Creer Articles">
</form>
<form action="/gestion/articles" methode="GET">
 <input type=submit value="Creer Articles">
</form>

<form action="/valider/comments" methode="GET">
 <input type=submit value="Creer Articles">
</form>
</div>

{% endblock %}



