{% extends "index.html" %}
{% block content %}
<div class="container-fluid">
<table class="table table-hover table-responsive liste_articles" id="liste_comments">
        <thead>
    	<tr>
        <th>ID</th>
        <th>Photos</th>
        <th>Nom</th>
    	<th>Courriel</th>
    	<th>roles</th>
    	<th>actif</th>
            <th>changer</th>
    	</tr>
    	</thead>
    	 {% if not users %}

    	 <tr>

    	<td style="text-align: center;" COLSPAN="7"><h2>aucun usagers inscrit</h2></td>
    	</tr>
    	 {% else %}
				{% for u in users %}
				<tr id="{{u.id}}">
                    <td>{{u.id}}</td>
                    <td><input name="picture_{{u.id}}" type="text" value="{{ u.picture}}"></td>
    				<td><input name="nom_{{u.id}}" type="text" value="{{ u.lastname }}"></td>
    				<td><input name="courriel_{{u.id}}" type="text" value="{{ u.email }}"></td>
    				<td>

                        <select name="role_{{u.id}}" id="role">
                            {% for r in roles %}
                            <option value="{{ r.id }}"   {% if r.id == u.role  %}selected{% else %}{% endif %}>{{ r.role }}</option>
                            {% endfor%}
                        </select>

                    </td>
    				<td><input name="actif_{{u.id}}" type="checkbox" {% if u.status == 'yes' %}checked{% else %}{% endif %}></td>

                    <td><input  type="submit"></td>
    			</tr>
    			{% endfor %}
    	{% endif %}
</table>

</div>
  {% endblock %}


