{% extends "index.html" %}
{% block content %}
<div>
  <h3>Invitation</h3>
  <div>
  
<form action="/gestion/send/invitation" method="post">
				<div class="form-group">
                    <label for="courriel">courriel :</label>
                    <input  type="text" id="courriel" name="courriel" size="40" class="form-control" >
				</div>

            <div class="mobile form-group col-md-6">
 				<label id="">TYPE:</label>
 				<select name="categorie" id="categorie"  style="width: 100%;" class="mobile form-control" {% if articles %}value="{{articles.categorie}}"{% endif %}>
                {% if update %}{% else %}<option disable selected value>Choisir une catégorie</option>{% endif %}
 				{% for c in categories %}
 				<option value="{{c.id}}">{{c.menu_cat_fr}}</option>
 				{% endfor%}
 				</select>
            </div>
				{% if data %}
                    <div class="erreur">{{data}}</div>
                    {% endif %}             
                <div class="form-group">
                  <input type=reset value='annuler' type="button" class="btn btn-primary">
                  <input type=submit value='OK' type="button" class="btn btn-primary">
                </div>
</form>

  </div>
  </div>
  
  {% endblock %}