{% extends "index.html" %}
{% block content %}
<br><br><br><br><br><br>
<div>
<div class="row">
<div class="col-md-3"></div>
<div class="col-md-6">
  <h3>Inscription</h3>
  <div>

<form action="/gestion/send/inscription" method="post">
  <div class="row"><div class="header_invitation"></div></div>
<div class="row">
				<div class="form-group col-12">
                    <label for="courriel">courriel :</label>
                    <input  type="text" id="courriel" name="courriel" size="40" class="form-control" >
				</div>

</div>
				{% if data %}
                    <div class="erreur">{{data}}</div>
        {% endif %}

                <div class="row form-group">
                  <div class="col-6"><input type=reset value='annuler' type="button" class="btn btn-secondary btn-lg btn-block"></div>
                  <div class="col-6"><input type=submit value='OK' type="button" class="btn btn-secondary btn-lg btn-block"></div>
    </div>
</form>

  </div>
  </div>
  </div>
  </div>
<style>
  .header_invitation{
    background-image: url("/img/MunsterMandeville.jpg");
  width: 100%;
  height: auto;
    background-attachment: fixed;
    background-position: center;
background-repeat: no-repeat;
    }

    </style>
  {% endblock %}
