{% extends "index.html" %}
{% block content %}

   <meta charset="utf-8">



<div class="form_upload">
    <h1 class="title">Admin liste</h1>

     <button id="button_valided" class="button_langue btn btn-light" onclick="comments_unvalided()" value="{% if langue %}Français{% else %}Anglais{% endif %}">unvalided</button>
    <button id="button_valided" class="button_langue btn btn-light" onclick="comments_valided()" value="{% if langue %}Français{% else %}Anglais{% endif %}">valided</button>
    <button id="button_signaled" class="button_langue btn btn-light" onclick="comments_signaled()" value="{% if langue %}Français{% else %}Anglais{% endif %}">signaled</button>
    <button id="button_valided" class="button_langue btn btn-light" onclick="all_comments()" value="{% if langue %}Français{% else %}Anglais{% endif %}">all</button>

 <table class="table table-striped" id="liste_comments">
      <thead>
    	<tr>
      <th scope="col">Numéro</th>
      <th scope="col">usager</th>
      <th scope="col">article</th>
    	<th scope="col">comment</th>
    	<th scope="col">date</th>
    	<th scope="col">validate</th>
    	<th scope="col">signal</th>
    	</tr>
    	</thead>
    	 {% if not comments %}

    	 <tr>

    	<td style="text-align: center;" COLSPAN="7"><h2>aucun commentaire</h2></td>
    	</tr>
    	 {% else %}
				{% for c in comments %}
        <tr id="{{c.id}}">
            <td data-label="ID">{{c.id}}</td>
    				<td data-label="ID USER">{{c.id_user}}</td>
    				<td data-label="ID ACTICLE"><a href ="/article/{{c.id_article}}">{{c.id_article}}</a></td>
    				<td data-label="COMMENTS">{{c.comments }}</td>
    				<td data-label="DATE">{{c.date}}</td>
    				<td data-label="VALIDATED"><input type="checkbox" id="checkbox_validate_{{c.id}}" name="xxx" onclick="validat_comment({{c.id}});" {% if c.approved=="true" %}checked{% else %}{% endif %} {% if c.signal=="true" %}disabled {% else %}{% endif %}/></td>
    				<td data-label="SIGNALED"><input type="checkbox" id="checkbox_signale_{{c.id}}" name="xxx" onclick="signal_comment({{c.id}});" {% if c.signal=="true" %}checked{% else %}{% endif %} {% if c.approved=="true" %}disabled {% else %}{% endif %}/></td>
    			</tr>
    			{% endfor %}
    	{% endif %}
    </table>


  <link rel="stylesheet" href="/vendor/jquery/jquery-ui.css">
  <script src="/vendor/jquery/jquery.js"></script>
  <script src="/vendor/jquery/jquery-ui.js"></script>
  <script src="/js/comments.js"></script>
</div>



<style>

  body {
    font-family: "Open Sans", sans-serif;
    line-height: 1.25;
  }

  table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
  }

  table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
  }

  table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
  }

  table th,
  table td {
    padding: .625em;
    text-align: center;
  }

  table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }

  @media screen and (max-width: 600px) {
    table {
      border: 0;
    }

    table caption {
      font-size: 1.3em;
    }

    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }

    table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
    }

    table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: .8em;
      text-align: right;
    }

    table td::before {
      /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }

    table td:last-child {
      border-bottom: 0;
    }
  }

</style>

{% endblock %}
