{% extends "index.html" %}
{% block content %}
  <title>UPLOAD</title>
   <meta charset="utf-8">
  <link rel="stylesheet" href="/vendor/jquery/jquery-ui.css">
  <script src="/vendor/jquery/jquery.js"></script>
  <script src="/vendor/jquery/jquery-ui.js"></script>
<script src="/js/comments.js"></script>


<div class="form_upload">
    <h1 class="title">Interaction List</h1>

 <table class="table table-striped">
    <thead>
    	<tr>
        <th scope="col">ID</th>
        <th scope="col">ID_USER</th>
        <th scope="col">ACTION</th>
    	<th scope="col">OS</th>
    	<th scope="col">BROWSER</th>
    	<th scope="col">IP</th>
    	<th scope="col">DATE</th>
    	</tr>
    	</thead>
    	 {% if not interactions %}

    	 <tr>

    	<td style="text-align: center;" COLSPAN="7"><h2>Empty</h2></td>
    	</tr>
    	 {% else %}
				{% for a in interactions %}
				<tr>
                    <td data-label="ID">{{ a.id }}</td>
    				<td data-label="ID USER">{{ a.id_user}}</td>
    				<td data-label="ACTION">{{ a.action }}</td>
    				<td data-label="OS">{{ a.os }}</td>
    				<td data-label="IP">{{ a.ip_adresse }}</td>
    				<td data-label="BROWSER">{{ a.browser }}</td>
    				<td data-label="DATE">{{ a.date }}</td>
    			</tr>
    			{% endfor %}
    	{% endif %}
    </table>



<style>
    
    body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.25;
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}

table th,
table td {
  padding: .625em;
  text-align: center;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }
  
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  
  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  table td:last-child {
    border-bottom: 0;
  }
}
</style>


{% endblock %}
