{% extends "index.html" %}
{% block content %}


<title>User Profil</title>

<form>


<div class=row>



<div ><label>Photo</label><input type="files"></input></div>
<div class="col-md-12 form-group">
<div class="col-md-6 "><label>Firstname</label><input class="form-control" type="text"></input></div>
<div class="col-md-6 "><label>Lastname</label><inpu class="form-control" t type="text"></input></div>
</div>
<div class="col-md-12 ">
<div class="col-md-12"><label>email</label><input class="form-control"  type="text"></input></div>
</div>
<div class="col-md-12 form-group">
<div class="col-md-6"><label>Country</label><input class="form-control"  type="text"></input></div>
<div class="col-md-6"><label>States</label><input class="form-control"  type="text"></input></div>
</div>
<div class="form-group col-md-12">
<div class="col-md-12"><label>Bios</label><input  class="form-control" type="text"></input></div>
<div class="col-md-12"><label>texte</label><input  class="form-control" type="text"></input></div>
<div class="col-md-12"><label>texte</label><input  class="form-control" type="text"></input></div>
</div>

</div>

</form>

<div class=contribution>
    <div="" id="articles"></div>
    <div="" id="comments"></div>
    <div="" id=images></div>
    <div=""></div>

</div>

  {% endblock %}
