{% extends "index.html" %}
{% block content %}
  <title>UPLOAD</title>
   <meta charset="utf-8">



<div class="form_upload">
    <h1 class="title">Admin liste</h1>

     <button id="button_valided" class="button_langue btn btn-light" onclick="comments_unvalided()" value="{% if langue %}Français{% else %}Anglais{% endif %}">unvalided</button>
    <button id="button_valided" class="button_langue btn btn-light" onclick="comments_valided()" value="{% if langue %}Français{% else %}Anglais{% endif %}">valided</button>
    <button id="button_signaled" class="button_langue btn btn-light" onclick="comments_signaled()" value="{% if langue %}Français{% else %}Anglais{% endif %}">signaled</button>
    <button id="button_valided" class="button_langue btn btn-light" onclick="all_comments()" value="{% if langue %}Français{% else %}Anglais{% endif %}">all</button>

 <table class="table table-striped" id="liste_comments">
        <thead>
    	<tr>
        <th>Numéro</th>
        <th>usager</th>
        <th>article</th>
    	<th>comment</th>
    	<th>date</th>
    	<th>validate</th>
    	<th>signal</th>
    	</tr>
    	</thead>
    	 {% if not comments %}

    	 <tr>

    	<td style="text-align: center;" COLSPAN="7"><h2>aucun commentaire</h2></td>
    	</tr>
    	 {% else %}
				{% for c in comments %}
				<tr id="{{c.id}}" name="{% if c.approved=="true" %}validated{% else %} unvalidated{% endif %} ">
                    <td>{{c.id}}</td>
    				<td>{{c.id_user}}</td>
    				<td><a href="/article/{{c.id_article}}">{{c.id_article}}</a></td>
    				<td>{{c.comments }}</td>
    				<td>{{c.date}}</td>
    				<td><input type="checkbox" id="checkbox_validate_{{c.id}}" name="xxx" onclick="validat_comment({{c.id}});" {% if c.approved=="true" %}checked{% else %}{% endif %} {% if c.signal=="true" %}disabled {% else %}{% endif %}/></td>
    				<td><input type="checkbox" id="checkbox_signale_{{c.id}}" name="xxx" onclick="signal_comment({{c.id}});" {% if c.signal=="true" %}checked{% else %}{% endif %} {% if c.approved=="true" %}disabled {% else %}{% endif %}/></td>
    			</tr>
    			{% endfor %}
    	{% endif %}
    </table>


  <link rel="stylesheet" href="/vendor/jquery/jquery-ui.css">
  <script src="/vendor/jquery/jquery.js"></script>
  <script src="/vendor/jquery/jquery-ui.js"></script>
  <script src="/js/comments.js"></script>

{% endblock %}
